<!DOCTYPE HTML>
<html>
	<head>
		<title>Chainge</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<link href="css/main.css" rel="stylesheet">

	</head>
	<body>

<!-- Side Navbar -->

	    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <img alt="Brand" style="max-width:20%; max-height: 20%" src="images/chainge.png">  @ Stanford
                    </a>
                </li>
                <li>
                    <a href="/profile">Dashboard</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#addModal">Record Data</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#verifyModal">Request Verification</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#answerModal">Answer Request</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="txnsModal">My History</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#" data-toggle="model" data-target="#linkGenerator">Link Generator</a>
                </li>
            </ul>
        </div>

        <!-- right sidebar-->
        <div id="sidebar-wrapper-right" style="overflow:scroll;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#" onclick="reload_pending_txns('#pending_txns');">
                     	Pending Txns
                    </a>
                </li>
            </ul>
            <ul class="sidebar-nav" id = "pending_txns">
            </ul>
        </div>

<!-- Main Contents for the dashboard page -->

	<div id="page-content-wrapper" class="container-fluid">

		<div id="dashboard_jumbotron" class="jumbotron">
		  <h1>Hello, {{email}}</h1>
		  <p>Chainge @ Stanford is a 3rd party application build on top of the Chainge Blockchain Stack. You can use this to store all kinds of real life identity information safely, in a distributed manner.</p>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>

		<div class="row">
  			<div class="col-md-6">
    			<div class="panel panel-success">
    				<div class="panel-heading">
   						 <h3 class="panel-title">Public Key</h3>
  					</div>
  					<div class="panel-body">
					  	<div class="input-group">
					  		<span class="input-group-addon" id="basic-addon1">Key</span>
					  		<input type="text" class="form-control" aria-describedby="basic-addon1" value="{{pub_key}}">
						</div>
  					</div>
    			</div>
    		</div>

    		<div class="col-md-6">
    			<div class="panel panel-danger">
    				  <div class="panel-heading">
					    <h3 class="panel-title">Private Key</h3>
					  </div>
					  <div class="panel-body">
					   	<div class="input-group">
					  		<span class="input-group-addon" id="basic-addon1">Key</span>
					  		<input type="text" class="form-control" aria-describedby="basic-addon1" value="{{prv_key}}">
						</div>
					  </div>
    			</div>
 			 </div>
		</div>

		{{#rows}}
			<div class="row">
				{{#cols}}
					<div class="col-sm-6 col-md-3">
								<div class="panel panel-default" >
								  <!-- Default panel contents -->
								  <div class="panel-heading" id = "panel_heading_{{sig}}" style="overflow:scroll;">{{key}} : {{value}}</div>
								  <div class="panel-body">
								  <!-- List group -->
								  <ul class="list-group">
								  	 <li class="list-group-item">					  	
									    <div class="input-group">
									  		<span class="input-group-addon" id="basic-addon1">sig</span>
									  		<input type="text" class="form-control sig" aria-describedby="basic-addon1" value="{{sig}}">
										</div>
									</li>
									<li class="list-group-item">					  	
									    <div class="input-group">
									  		<span class="input-group-addon" id="basic-addon1">block</span>
									  		<input id = "block_for_{{sig}}" type="text" class="form-control" aria-describedby="basic-addon1" value="{{block_num}}">
										</div>
									</li>
								    <li class="list-group-item">					  	
									    <div class="input-group">
									  		<span class="input-group-addon" id="basic-addon1">r</span>
									  		<input type="text" class="form-control" aria-describedby="basic-addon1" value="{{r}}">
										</div>
									</li>
								    <li class="list-group-item">
								    
								    	 <div class="input-group">
									  		<span class="input-group-addon" id="basic-addon1">r_i</span>
									  		<input type="text" class="form-control" aria-describedby="basic-addon1" value="{{r_i}}">
										</div>
								    </li>
								    <li class="list-group-item">
								    	 <div class="input-group">
									  		<span class="input-group-addon" id="basic-addon1">a</span>
									  		<input type="text" class="form-control" aria-describedby="basic-addon1" value="{{a}}">
										</div>
								    </li>

								  </ul>
								</div>
      						</div>
    					</div>
				{{/cols}}
			</div>
		{{/rows}}

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel">Record Information</h3>
		</div>
		<div class="modal-body">
			
            <!-- content goes here -->

            <div id="data_txn">

           	<p>Securely add your information to the blockchain network by entering it as a key/value pair. <br><br> For example, this is how Bob might store his phone number: 
			<ul id="addList"> 
				<li> Key: "Phone Number"</li> 
				<li> Value: "000-0000"</li>
			</ul>
			</p>
			<br>
			<p>If you don't check the box, the security code will be sent to your email. </p>
			<form action="/new_txn" method="post" id ="data_txn_form">
			  <input type="hidden" name="txn_type" value="0">
              <div class="form-group">
                <label for="Name">Data Key</label>
                <input type="text" class="form-control" id="key" name="key" placeholder="Enter Name of Data (ex. email)">
              </div>
              <div class="form-group">
                <label for="Value">Data Value</label>
                <input type="text" class="form-control" id="value" name="value" placeholder="Enter Data (ex. admin@chainge.com)">
              </div>
                <div class="checkbox">
                <label>
                  <input type="checkbox" name="proxy"> Store security information on my behalf
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

            </div>

            <div class="progress hidden" id="data_txn_progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
  				Please wait while we save your data...
  			</div>
			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
  </div>
</div>


<div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel">My Modal</h3>
		</div>
		<div class="modal-body">
			
            <div id="req_txn">

            <!-- content goes here -->
			<form action="/new_txn" method="post" id ="req_txn_form">
			  <input type="hidden" name="txn_type" value="1">
              <div class="form-group">
                <label for="exampleInputEmail1">Stanford Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Data Key</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Data Value</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

            </div>
            <div class="progress hidden" id="req_txn_progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
  				Please wait while we save your data...
  			</div>
			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
  </div>
</div>

<div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel">My Modal</h3>
		</div>
		<div class="modal-body">
			<div id="ans_txn">

            <!-- content goes here -->
			<form action="/new_txn" method="post" id ="ans_txn_form">
			<input type="hidden" name="txn_type" value="2">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>

              <button type="submit" class="btn btn-default">Submit</button>
            </form>

            </div>
            <div class="progress hidden" id="ans_txn_progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
  				Please wait while we save your data...
  			</div>
			</div>

		</div>
		<div class="modal-footer">
		</div>
	</div>
  </div>
</div>


<div class="modal fade" id="txnsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel">My Modal</h3>
		</div>
		<div class="modal-body">

			PUT ALL PENDING(Unanswered) TXNS HERE, both that I requested and I am being requested for...

		</div>
		<div class="modal-footer">
		</div>
	</div>
  </div>
</div>

        <div class="modal fade" id="linkGenerator" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="lineModalLabel">Add Info to Link</h3>
                    </div>
                    <div class="modal-body">

                        <!-- content goes here -->

                        <div id="link_generator">

                            <p>Add information you wish to add to link generated
                            <ul id="addList">
                                <li> Key: "Phone Number"</li>
                                <li> Value: "000-0000"</li>
                            </ul>
                            </p>
                            <br>
                            <form action="/new_txn" method="post" id ="link_generator_form">
                                <input type="hidden" name="txn_type" value="0">
                                <div class="form-group">
                                    <label for="Name">Data Key</label>
                                    <input type="text" class="form-control" id="key" name="key" placeholder="Enter Name of Data (ex. email)">
                                </div>
                                <div class="form-group">
                                    <label for="Value">Data Value</label>
                                    <input type="text" class="form-control" id="value" name="value" placeholder="Enter Data (ex. admin@chainge.com)">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>

                        </div>

                        <div class="progress hidden" id="data_txn_progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                Please wait while we save your data...
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

  	</div>

  	</div>

  	<script src="js/main.js"></script>
	</body>
</html>