<!DOCTYPE HTML>
<html>
	<head>
		<title>Chainge</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<link href="css/main.css" rel="stylesheet">

	</head>
	<body>

<!-- Side Navbar -->

	    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <img alt="Brand" style="max-width:20%; max-height: 20%; text-color:white;" src="images/chainge.png">  @ Stanford
                </li>
                <li>
                    <a href="/profile">Dashboard</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#addModal">Record Data</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#verifyModal">Request Verification</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#answerModal">Answer Request</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#txnsModal">My History</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#faqModal">FAQ</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#linkGenerator">Link Generator</a>
                </li>
            </ul>
        </div>

        <!-- right sidebar-->
        <div id="sidebar-wrapper-right" style="overflow:scroll;">
            <ul class="sidebar-nav" style="color:white;">
                <li class="sidebar-brand" style="padding-left:35px;">
                    <a href="#" onclick="reload_pending_txns('#pending_txns');">
                      Pending Txns
                    </a>
                </li>
            </ul>
            <br>
            <br>
            <ul class="sidebar-nav" id = "pending_txns">
            </ul>
        </div>

<!-- Main Contents for the dashboard page -->

	<div id="page-content-wrapper" class="container-fluid">

		<div id="dashboard_jumbotron" class="jumbotron">
		  <h1>Hello, {{email}}</h1>
		  <p>Chainge @ Stanford is a 3rd party application build on top of the Chainge Blockchain Stack. You can use this to store all kinds of real life identity information safely, in a distributed manner.</p>
		  <p><a class="btn btn-primary btn-lg" href="https://github.com/cs210/SAP-3" role="button">Learn more</a></p>
		</div>

		<div class="row">
  			<div class="col-md-6">
    			<div class="panel panel-success">
    				<div class="panel-heading">
   						 <h3 class="panel-title">Public Key</h3>
  					</div>
  					<div class="panel-body">
					  	<div class="input-group">
					  		<span class="input-group-addon" id="basic-addon1">Key</span>
					  		<input type="text" class="form-control" aria-describedby="basic-addon1" value="{{pub_key}}">
						</div>
  					</div>
    			</div>
    		</div>

    		<div class="col-md-6">
    			<div class="panel panel-danger">
    				  <div class="panel-heading">
					    <h3 class="panel-title">Private Key</h3>
					  </div>
					  <div class="panel-body">
					   	<div class="input-group">
					  		<span class="input-group-addon" id="basic-addon1">Key</span>
					  		<input type="text" class="form-control" aria-describedby="basic-addon1" value="{{prv_key}}">
						</div>
					  </div>
    			</div>
 			 </div>
		</div>

		{{#rows}}
			<div class="row">
				{{#cols}}
					<div class="col-sm-6 col-md-3">
								<div class="panel panel-default" >
								  <!-- Default panel contents -->
								  <div class="panel-heading" id = "panel_heading_{{sig}}" style="overflow:scroll;">{{key}} : {{value}}</div>
								  <div class="panel-body">
								  <!-- List group -->
								  <ul class="list-group">
								  	 <li class="list-group-item">					  	
									    <div class="input-group">
									  		<span class="input-group-addon" id="basic-addon1">sig</span>
									  		<input type="text" class="form-control sig" aria-describedby="basic-addon1" value="{{sig}}">
										</div>
									</li>
									<li class="list-group-item">					  	
									    <div class="input-group">
									  		<span class="input-group-addon" id="basic-addon1">block</span>
									  		<input id = "block_for_{{sig}}" type="text" class="form-control" aria-describedby="basic-addon1" value="{{block_num}}">
										</div>
									</li>
								    <li class="list-group-item">					  	
									    <div class="input-group">
									  		<span class="input-group-addon" id="basic-addon1">r</span>
									  		<input type="text" class="form-control" aria-describedby="basic-addon1" value="{{r}}">
										</div>
									</li>
								    <li class="list-group-item">
								    
								    	 <div class="input-group">
									  		<span class="input-group-addon" id="basic-addon1">r_i</span>
									  		<input type="text" class="form-control" aria-describedby="basic-addon1" value="{{r_i}}">
										</div>
								    </li>
								    <li class="list-group-item">
								    	 <div class="input-group">
									  		<span class="input-group-addon" id="basic-addon1">a</span>
									  		<input type="text" class="form-control" aria-describedby="basic-addon1" value="{{a}}">
										</div>
								    </li>

								  </ul>
								</div>
      						</div>
    					</div>
				{{/cols}}
			</div>
		{{/rows}}

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel">Record Information</h3>
		</div>
		<div class="modal-body">
			
            <!-- content goes here -->

            <div id="data_txn">

           	<p>Securely add your information to the blockchain network by entering it as a key/value pair. <br><br> For example, this is how Bob might store his phone number: 
			<ul id="addList"> 
				<li> Key: "Phone Number"</li> 
				<li> Value: "000-0000"</li>
			</ul>
			</p>
			<br>
			<p>If you don't check the box, the security code will be sent to your email. </p>
			<form action="/new_txn" method="post" id ="data_txn_form">
			  <input type="hidden" name="txn_type" value="0">
              <div class="form-group">
                <label for="Name">Data Key</label>
                <input type="text" class="form-control" id="key" name="key" placeholder="Enter Name of Data (ex. email)">
              </div>
              <div class="form-group">
                <label for="Value">Data Value</label>
                <input type="text" class="form-control" id="value" name="value" placeholder="Enter Data (ex. admin@chainge.com)">
              </div>
                <div class="checkbox">
                <label>
                  <input type="checkbox" name="proxy"> Store security information on my behalf
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

            </div>

            <div class="progress hidden" id="data_txn_progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
  				Please wait while we save your data...
  			</div>
			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
  </div>
</div>


<div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel">Verify Someone's Data</h3>
		</div>
		<div class="modal-body">
			
            <div id="req_txn">

            <!-- content goes here -->
			<form action="/new_txn" method="post" id ="req_txn_form">
			  <input type="hidden" name="txn_type" value="1">
              <div class="form-group">
                <label for="target_email">Stanford Email address</label>
                <input type="email" name="target_email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="key">Data Key</label>
                <input type="text" name="key" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="value">Data Value</label>
                <input type="text" name="value" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

            </div>
            <div class="progress hidden" id="req_txn_progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
  				Please wait while we save your data...
  			</div>
			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
  </div>
</div>

<div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel">Answer a Request</h3>
		</div>
		<div class="modal-body">
			<div id="ans_txn">

            <!-- content goes here -->
			<form action="/new_txn" method="post" id ="ans_txn_form">
			<input type="hidden" name="txn_type" value="2">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>

              <button type="submit" class="btn btn-default">Submit</button>
            </form>

            </div>
            <div class="progress hidden" id="ans_txn_progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
  				Please wait while we save your data...
  			</div>
			</div>

		</div>
		<div class="modal-footer">
		</div>
	</div>
  </div>
</div>


<div class="modal fade" id="txnsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel">Pending Transactions</h3>
		</div>
		<div class="modal-body">

			PUT ALL PENDING(Unanswered) TXNS HERE, both that I requested and I am being requested for...

		</div>
		<div class="modal-footer">
		</div>
	</div>
  </div>
</div>

    <div class="modal fade" id="faqModal" role="dialog">
        <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="height:50px;">
                  <button type="button" style="height:30px;" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Frequently Asked Questions</h4>
                </div>
                <div class="modal-body">
                      <div class="spacing">
                        <p><b> What exactly is Chainge?</b>
                          <li> We are a new blockchain protocol, similar to the blockchains running bitcoin or ethereum, but this one 
                            was built specifically to securely exchange real life identity (RLI) over the Internet. You can add your personal information to the chain using the "Record Data" button on the left sidebar and request to verify someone else's personal info using the "Request Verification" button.</li>
                        <br>
                        <p><b> Great, but I want to generate a link to sell stuff, not iteract directly with the chain. </b>
                          <li> That's fine! You're looking for the "Link Generator" button under the left side bar. Using that module, you can generate a link that allows people that click on it to see the personal information you've stored on the chain. You do need to store said personal information on the chain first using the "Record Data" button on the left sidebar.</li>
                        <br>
                        <p><b> Wait, what is a blockchain? </b>
                          <li> Great question! Essentially, it is the technology underpining bitcoin that allows bitcoin to be secure, decentralized, and verifiable across many users and locations. Take a look at this <a href="https://blockgeeks.com/guides/what-is-blockchain-technology/">online guide.</a></li>
                        <br>
                        <p><b> So by downloading your software, am I a node on the network? </b>
                          <li> In a limited way, yes. Your computer will mine transactions by default (not a large strain on your computer).</li>
                        <br>
                      </div>
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>      
        </div>
    </div>

        <div class="modal fade" id="linkGenerator" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="lineModalLabel">Generate a Link</h3>
                    </div>
                    <div class="modal-body">

                        <!-- content goes here -->
                        <div id="link_generator">

                            <p>
                            <ul id="addList">
                                <li> Key: "Phone Number"</li>
                                <li> Value: "000-0000"</li>
                            </ul>
                            </p>
                            <br>
                            <form action='http://localhost:4000/test_endpoint' method="post" id ="link_generator_form">
                                <input type="hidden" name="txn_type" value="0">
                                <div class="form-group">
                                    <label for="Name">Data Key</label>
                                    <input type="text" class="form-control" id="key" name="key" placeholder="Enter Name of Data (ex. email)">
                                </div>
                                <div class="form-group">
                                    <label for="Value">Data Value</label>
                                    <input type="text" class="form-control" id="value" name="value" placeholder="Enter Data (ex. admin@chainge.com)">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>

                        </div>

                        <div class="progress hidden" id="data_txn_progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                Please wait while we save your data...
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

  	</div>

  	</div>

  	<script src="js/main.js"></script>
	</body>
</html>