<!DOCTYPE HTML>
<html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

<head>
    <title>Login</title>
</head>

<body>
    <form method='POST' style="position:absolute;left:35%;">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="submit">
    </form>
</body>
</html>
