<!DOCTYPE HTML>
<html>
<head>
    <title>Chainge</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/chaingelogo.png"/>
</head>
<body>

<!-- Header -->
<div id="header">
    <span class="logo icon fa fa-check"></span>
    <h1>Success! Your request has been verified.</h1>
    <!--include loading bar-->
    <div style="height:20px;"></div>
    <br><br>
    <div> The value you verified: </div> <div id="keyVal"></div> <br><br>
    <div> Number of times verification link has been generated for this key/value pair:</div> <div id="generated"></div> <br><br>
    <div> Number of link views: </div> <div id="viewed"></div> 
</div>

<!-- Main -->
<div id="main" style="padding-top:20px;">

    <header class="major container 50%" id="info_box"><h4>Verifying Results:</h4></header>

    <header class="major container 75%">
        <h2>we keep your data safe
            <br />
            on the blockchain
        </h2>
    </header>

    <footer class="major container 75%">
        <h3>About Us</h3>
        <p>We have developed a new protocol to securely embed your identity using the blockchain.</p>
        <ul class="actions">
            <li><a href="#" class="button">Chainge</a></li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<!--<script src="assets/js/jquery.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script>
    </script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
<script>
    function move() {
        var elem = document.getElementById("myBar");
	if (elem) {
	    var width = 0;
            var id = setInterval(frame, 50);
            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                }
            }
	}
    }
    move();
    setInterval(move, 25000);

    var email = decodeURIComponent(document.URL.split('/').pop());
    console.log(email);
    $.ajax({
        type: 'GET',
        contentType: "application/json; charset=utf-8",
        url: '/get_user_info_link_gen',
        dataType: "json",
        data: {
            email
        },
        success: function(result, status, xhr){
            console.log('Got user data');
            console.log(result);
            document.getElementById("keyVal").innerHTML = result[Object.keys(result)[0]];
            document.getElementById("generated").innerHTML = result.link_generated;
            document.getElementById("viewed").innerHTML = result.link_viewed;
	    if (result) {
		console.log('print');
    		setTimeout(function(){
		    for (var key in result){
                	document.getElementById("info_box").innerHTML += '<div>' + key + ":" + result[key] + '</div>';
		    }
    		}, 5000);

	    }
        }
    });
</script>
</body>
</html>
